# Image Dictionary of Wikitenaur
# _ImagesList

# 📦 Build Artifacts (Compiled files)
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exe
*.out

# 🛠️ CMake generating files
CMakeFiles/
# CMakeCache.txt
cmake_install.cmake
# Makefile
Build/*
# Build 폴더 내 _ImagesList, certs, main-Windows는 추적
!Build/_ImagesList/
!Build/certs/
!Build/main-Windows/

# ⚙️ VS Code settings
.vscode/

# 📃 Log & Debug
*.log
*.dSYM/
*.pdb

# 💻 OS Files
.DS_Store
Thumbs.db
desktop.ini