# Image Dictionary of Wikitenaur
_ImagesList

# 📦 Build Artifacts (Compiled files)
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exe
*.out

# 🛠️ CMake generating files
CMakeFiles/
# CMakeCache.txt
cmake_install.cmake
# Makefile
build/
build-*/

# ⚙️ VS Code settings
.vscode/

# 📃 Log & Debug
*.log
*.dSYM/
*.pdb

# 💻 OS Files
.DS_Store
Thumbs.db
desktop.ini